.nova-fixa{

    display:flex;

    flex-direction:column;

    gap:22px;

    margin-top:35px;

    padding-bottom:40px;

}

.campo{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.campo label{

    color:white;

    padding-left:8px;

    font-size:16px;

}

.campo input,
.campo select{

    width:89%;

    height:55px;

    border:none;

    outline:none;

    border-radius:18px;

    padding:0 18px;

    background:rgba(0,0,0,.35);

    border:1px solid rgba(59,130,246,.20);

    color:white;

}
.tipo-transacao{

    display:flex;

    gap:15px;

}

.tipo-transacao input[type="radio"]{

    display:none;

}

.opcao{

    flex:1;

    height:48px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:16px;

    background:rgba(0,0,0,.35);

    border:1px solid rgba(59,130,246,.20);

    color:white;

    cursor:pointer;

    transition:.25s;

    font-weight:500;

}

.opcao:hover{

    border-color:#3b82f6;

}

#receita:checked + .opcao{

    background:#3b82f6;

    color:white;

    border-color:#3b82f6;

}

#despesa:checked + .opcao{

    background:#ef4444;

    color:white;

    border-color:#ef4444;

}

.card-opcoes{

    background:rgba(0,0,0,.35);

    border:1px solid rgba(59,130,246,.18);

    border-radius:22px;

    padding:22px;
    width: 83%;
    margin-left: 10px;

}

.opcao-switch{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 0;

    border-bottom:1px solid rgba(255,255,255,.08);

}

.opcao-switch:last-child{

    border-bottom:none;

}

.opcao-switch h3{

    color:white;

    font-size:17px;

    font-weight:500;

    margin-bottom:5px;

}

.opcao-switch span{

    color:#8fa7d8;

    font-size:14px;

}

.switch{

    position:relative;

    display:inline-block;

    width:52px;

    height:28px;

}

.switch input{

    display:none;

}

.slider{

    position:absolute;

    inset:0;

    background:#555;

    border-radius:20px;

    transition:.3s;

    cursor:pointer;

}

.slider::before{

    content:"";

    position:absolute;

    width:22px;

    height:22px;

    left:3px;

    top:3px;

    background:white;

    border-radius:50%;

    transition:.3s;

}

.switch input:checked + .slider{

    background:#3b82f6;

}

.switch input:checked + .slider::before{

    transform:translateX(24px);

}

.acoes{

    display:flex;

    gap:15px;
    width: 95%;
    margin-left: 10px;

}

.btn-cancelar{

    flex:1;

    height:55px;

    border:none;

    border-radius:18px;

    background:rgba(255,255,255,.08);

    color:white;

    cursor:pointer;

}

.btn-salvar{

    flex:2;

    height:55px;

    border:none;

    border-radius:18px;

    background:#3b82f6;

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.25s;

}

.btn-salvar:hover{

    background:#2563eb;

}